<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
   	
	<script th:inline="javascript">
	$( document ).ready(function() {
	    var val = $("#taskTypeSelect").val();
	    if(val === "meeting")
    	{
	        $("#attendees").show();
	    }
	    else {
	        $("#attendees").hide();
	    }	    
	});
		$(function () {
		  $("#taskTypeSelect").change(function() {
		    var val = $(this).val();
		    if(val === "meeting")
	    	{
		        $("#attendees").show();
		    }
		    else {
		        $("#attendees").hide();
		    }
		  });
		});
	</script>
	
</head>
<body>


<div layout:fragment="content">
    <form th:action="@{${formAction}}" th:object="${task}" method="post" class="new-task-form">
        
        <input type="text" class="new-task-title" th:field="*{name}" th:placeholder="#{task.edit.name}" th:errorclass="field-error"/>
        <div th:if="${#fields.hasErrors('name')}" class="error-message" th:errors="*{name}"></div>

        <input type="text" class="new-task-title" th:field="*{startTime}" th:placeholder="#{task.edit.startTime}" th:errorclass="field-error"/>
        <div th:if="${#fields.hasErrors('startTime')}" class="error-message" th:errors="*{startTime}"></div>
        
        <input type="text" class="new-task-title" th:field="*{duration}" th:placeholder="#{task.edit.duration}" th:errorclass="field-error"/>
        <div th:if="${#fields.hasErrors('duration')}" class="error-message" th:errors="*{duration}"></div>
        
        <input type="text" class="new-task-title" th:field="*{location}" th:placeholder="#{task.edit.location}" th:errorclass="field-error"/>
        <div th:if="${#fields.hasErrors('location')}" class="error-message" th:errors="*{location}"></div>
        
        <select id="taskTypeSelect" th:field="*{type}">
				<option disabled="true" selected="selected" value="" th:placeholder="#{task.edit.type}">Select type</option>
				<option value="reserveTime">reserve time</option>
				<option value="meeting">meeting</option>
		  		<option value="reminder">reminder</option>
		</select>
        
        <input type="text" class="new-task-title" th:field="*{alreadyNotified}" th:placeholder="#{task.edit.alreadyNotified}" th:errorclass="field-error"/>
        <div th:if="${#fields.hasErrors('alreadyNotified')}" class="error-message" th:errors="*{alreadyNotified}"></div>


		<br/>

		
		<div id="attendees">
	     	<input th:field="*{attendees[0].name}" th:placeholder="#{task.edit.attendee.name}" /><br/>
	       	<input th:field="*{attendees[1].name}" th:placeholder="#{task.edit.attendee.name}" /><br/>
	    	<input th:field="*{attendees[2].name}" th:placeholder="#{task.edit.attendee.name}" /><br/>
	     	<input th:field="*{attendees[3].name}" th:placeholder="#{task.edit.attendee.name}" /><br/>
	    	<input th:field="*{attendees[4].name}" th:placeholder="#{task.edit.attendee.name}" /><br/>
	     	<input th:field="*{attendees[5].name}" th:placeholder="#{task.edit.attendee.name}" /><br/>
	     	<input th:field="*{attendees[6].name}" th:placeholder="#{task.edit.attendee.name}" /><br/>
	     	<input th:field="*{attendees[7].name}" th:placeholder="#{task.edit.attendee.name}" /><br/>
     	</div>
             	     	     	     	     	     	     	
        <input type="submit" class="new-task-submit" th:value="#{task.edit.save}"/>
    </form>
    
    <span th:if="${exception != null}" th:text="${exception}"></span>
  
    <b th:text="${exception}">Exception</b>
</div>

</body>
</html>

