<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head></head>
<body>


    <div layout:fragment="content">
	    <table th:width="1000px">
		    <tr>
		    	<th>Start time</th><th>Name</th><th>Duration</th><th>Location</th><th>Type</th><th>Already notified</th>
	    	</tr>
	        <tr class="task-block">
	            <td th:text="${#dates.format(task.startTime, #messages.msg('date.format'))}">1900-01-01</td>
	            <td>
		             <a th:text="${task.name}"
		               th:href="@{/task/{id}(id=${task.id})}">mano title'as
		             </a>
	            </td>
	            <td th:text="${task.duration}">Duration</td>
   	            <td th:text="${task.location}">Location</td>
   	            <td th:text="${task.type}">Type</td>
  				<td th:text="${task.alreadyNotified}">already notified</td>
				 <td>
		             <a
			               th:href="@{/task/delete/{id}(id=${task.id})}">Delete this task
		             </a>
	            </td>
		     </tr>
		</table>

		<br/>
		<b>Attendees:</b>
     	<p th:each="a : ${attendees}"
	       th:text="${a.name}">name</p>
		<br/>
		<br/>
    </div>

</body>
</html>